#!KAMAILIO

listen=udp:0.0.0.0:5060
listen=tls:0.0.0.0:443

loadmodule "tls.so"
loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "sanity.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"

loadmodule "auth.so"
loadmodule "auth_ephemeral.so"

loadmodule "pike.so"
loadmodule "ipban.so"

loadmodule "rtpengine.so"

loadmodule "nathelper.so"

loadmodule "htable.so"

modparam("pike", "sampling_time_unit", 2)
modparam("pike", "reqs_density_per_unit", 30)

if (!pike_check_req()) {
    xlog("L_ALERT", "PIKE BLOCKED $si\n");
    ipban_add("$si");
    exit;
}

modparam("pike", "sampling_time_unit", 2)
modparam("pike", "reqs_density_per_unit", 30)

if (!mf_process_maxfwd_header("10")) {
    sl_send_reply("483","Too Many Hops");
    exit;
}


if (!sanity_check("1511", "7")) {
    xlog("Malformed SIP from $si\n");
    exit;
}


if (ua =~ "friendly-scanner|sipcli|sipvicious|VaxSIPUserAgent") {
    xlog("Scanner blocked: $ua\n");
    exit;
}


modparam("auth_ephemeral", "secret", "VERY_STRONG_SECRET")
modparam("auth_ephemeral", "username_format", "username")

if (!autheph_check("$fd", "subscriber")) {
    autheph_www_challenge("$fd", "0");
    exit;
}

if ($fU != $au) {
    xlog("CallerID mismatch\n");
    sl_send_reply("403","CallerID must equal username");
    exit;
}


if (!is_method("REGISTER|INVITE")) {
    sl_send_reply("405","Not allowed");
    exit;
}

if (!auth_check("$fd", "subscriber")) {
    sl_send_reply("403","Auth required");
    exit;
}


modparam("rtpengine", "rtpengine_sock", "udp:127.0.0.1:2223")

INVITE handling

if (is_method("INVITE")) {

rtpengine_manage("replace-origin replace-session-connection ICE=remove");

route(RELAY);
}

if (nat_uac_test("19")) {
    fix_nated_contact();
    setflag(FLT_NATS);
}


route[RELAY] {

$du = "sip:" + $var(FREESWITCH_IP) + ":5060";

t_relay();
exit;

}

log_stderror=yes
debug=2

xlog("Call from $fU to $rU via $si\n");

consume_credentials();

if (is_method("REGISTER")) {

if (!autheph_check("$fd", "subscriber")) {
    autheph_www_challenge("$fd", "0");
    exit;
}

save("location");

exit;
}



